# General
.DS_Store
.idea/
.vscode/
*.log

# Python
__pycache__/
*.py[cod]
venv/
.env
.venv
env/
*.egg-info/

# Node
node_modules/
dist/
build/
coverage/
.npm/
frontend/.env
*.h5
*.pkl
*.model

# Keep cleaned data files
!data/zomato_clean.csv
!data/swiggy_clean.csv

# Ignore raw data files
data/raw/
data/*.csv
!data/zomato_clean.csv
!data/swiggy_clean.csv
