# General
.DS_Store
.idea/
.vscode/
*.log

# Python
__pycache__/
*.py[cod]
venv/
.env
.venv
env/
*.egg-info/

# Node
node_modules/
dist/
build/
coverage/
.npm/
frontend/.env
*.h5
*.pkl
*.model

data/*.csv
